.Preloader{
    height: 100vh;
    width: 100%;
    background: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Preloader.texts-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 280px;
    overflow: hidden;
    color: #fff;
}
body {
    -webkit-text-size-adjust: 100%;
}