*{
    font-family: 'Georgia', 'Times New Roman', serif; 
   }
   
   /* body{ */
       /* background-color: #f3f1f1cc; */
   /* } */
   
   .donation-container{
       height: 100vh;
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 3em;
       flex-grow: 1;
       padding: 0 40px;
       background-color: pink;
       background-image: url("../Components/Images/Bgimg.jpg");
       background-size: cover;
   }
   
   .div1, .div2, .div3{
       box-shadow: 5px 5px 25px #0000005f;
       padding: 10px 30px;
       border-radius: 10px;
       width: 26%;
       height: 65%;
   }
   .div1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../Components/Images/fd.jpg");
    background-size: cover;
    /* background: linear-gradient(rgbae(0,0,0,0.5),rgba(0,0,0,0.5)); */
    /* width: 300px;
    height: 400px; */
    color: #fff;
    padding-bottom: 20px;
   }
   .div2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../Components/Images/md.jpeg");
    background-size: cover;
    /* width: 300px;
    height: 400px; */
    color: #fff;
    padding-bottom: 20px;

   }
   .div3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../Components/Images/od.jpeg");
    background-size: cover;
    /* width: 300px;
    height: 400px; */
    color: #fff;
    padding-bottom: 20px;

   }
   h1, h2{
       color: #3289ed;
   }
   .heading{
display: flex;
justify-content: center;
align-items: center;
color: #fff;
   }
   .quote{
    font-size: 12;
   }
   button{
      width: 150px;
      height: 40px;
       padding: 10px 18px;
       background-color: #3289ed;
       border: 1;
       border-radius: 6px!;
       border-color: transparent;
       cursor: pointer;
       text-transform: uppercase;
       font-weight: bold;
       color: #fff;
       margin-top: 20px;
       transition: 0.2s;
   
   }
   
   button:hover{
       background-color: #058585;
   }
   
   @media(max-width:1230spx){
       .container{
           height: 100%;
           flex-direction: column;
       }
       .div1, .div2, .div3{
           max-width: 90%;
           padding: 50px 30px; 
       }
       h1{
           margin: 0;
       }
   }

   .button-28 {
    appearance: none;
    background-color:#3289ed;
    border: 2px solid #3289ed;
    border-radius: 15px;
    box-sizing: border-box;  
    color: rgb(229, 219, 219);
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
    
    min-height: 56px;
    min-width: 0;
    outline: none;
    border-spacing: 20px;
    padding: 20px 80px;
    padding-left:20px;
    padding-bottom:45px;
    text-align:justify;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 68%;
    will-change: transform;

  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #fff;
    background-color: rgb(12, 12, 15);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    border: 2px solid rgb(12, 12, 15);
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .link-btn {
    background: none;
    color: white;
    text-decoration: underline;
  
  }