.App {
  text-align: center;
  display:flex;
  background-size: cover;
 
  justify-content: center;
  align-items: start;
  
  
}

.register-form {
  display: flex;
  flex-direction: column;
  
  
}
.auth-form-container {
  /* display:flex;
  justify-content: center; */
  
  background-image:url("../Components/Images/baby boy.png");
  background-size: cover;
  width:100%;
  height: 100;
  padding: 2rem;
  padding-left:100px;
  font-size: medium;
  


}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.10rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  width:20%;
  background-color:#ffffff99;
}
.button-28 {
  
  appearance: none;
  background-color: rgb(85, 173, 207);
  border: 2px solid rgb(85, 173, 207);
  border-radius: 15px;
  box-sizing: border-box;
  color: #0a0808;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0 auto;
  min-height: 60px;
  min-width:40px;
  outline: none;
  padding: 16px 24px;
  -moz-box-align: start;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 260px;
  will-change: transform;
  align-items: start;
  font-size: medium;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color:rgb(56, 56, 209);
  border-color:rgb(56, 56, 209);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
.link-btn {
  background: none;
  color: white;
  text-decoration: underline;

}