.Mail{
    height: 30vh;
    justify-content: center;
    font-size: xx-large;
    display: flex;
    color: azure;
    flex: column;
    margin: auto;
    margin-top: 200px;
    background: linear-gradient(#2A00B7);
    padding-bottom: 30px;

}
.container{

    height: 100%;
    width: 100%;
    background: linear-gradient(#2A00B7,#42006c);
}
.email{

    display: flex;
    justify-content: center;   
    color: white;
}