.Wrapper{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,rgb(14,36,83),rgba(14, 36, 83, 0.356));
  }
  .Container{
    box-sizing: inherit;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin:0 auto;
    background-color:white;
    border-radius: 10px;
  }
  
  .Section2{
    box-sizing: inherit;
  width: 50%;
  }
  .Form-Container{
    box-sizing: inherit;
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
   height: 90%;
    justify-content: center;
    align-items:center;
    padding: 1rem;
  }
  .F1,.CS-Wrapper,.Button-Wrapper{
    box-sizing: inherit;
    width: 100%;
    height: calc(90% / 7);
    display: flex;
    padding-inline: 2%;
  }
  .F1{
    box-sizing: inherit;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .F1 .label{
    align-self: center;
    font-size: 1rem;
    font-weight: bold;
    text-wrap: wrap;
  
  }
  .F1 .input-Wrapper{
    align-self: center;
  }
  
  .F1 .input-Wrapper input{
    border: none;
    border-bottom: 2px solid black;
    height: 1rem;
    outline: none;
    font-size: 1rem;
    text-align: center;
  }
  
  .CS-Wrapper{
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  .CI-Wrapper{
    align-self: center;
    width: 50%;
    font-weight: bold;
  }
  .CI-Wrapper input{
    border: none;
    border-bottom: 2px solid black;
    height: 1rem;
    outline: none;
    font-size: medium;
  
  }
  .WSelect {
    display: flex;
    justify-content: space-between;
  }
  .FSelect{
    width: 12rem;
    outline: none;
  }
  .Button-Wrapper{
    display: flex;
    justify-content: space-around;
  }
  .Button-Wrapper button{
    align-self: center;
    border: none;
    width: 60%;
    height: 2rem;
    border-radius: 2rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    background-color: rgb(249,124,92);
  }
  
  .Section1{
    width: 50%;
    background-image: url("../Components/Images/moneyDonate.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
