.paragraph1{
    color: rgb(13, 9, 9)
}
.Container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:left;
    
    
}
.bottom-center{
    position: absolute;
    bottom:16px;
    align-items: center;
}
  
.left-div {
    padding-bottom: px;
    max-width: 1100px;    
    width:50%;
}
.heading{
    padding-bottom: 150px;
    padding-left: 20px;
    display: flex;
    flex: 0 0 auto;
    color: rgb(241, 234, 234);
   position: absolute;
}
.paragraph{
   
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    color: rgb(242, 238, 238);
    position:absolute;

}
.para{
    padding-left: 20px;
    padding-top: 150px;
    align-items: center;
    color: white;
    position: absolute;
    display: flex;
    justify-content: flex-end;
}
.content {
     color: black;
     display:block;
     
     margin-left: 50px;
     margin-right: 50px;
     margin-top: 50px;;
}