/* .nav-bar-link{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.nav-bar-link a {
    color: #fff;
    text-decoration: none;
}
.login-links a{
    padding-left: 15px;
}
.navbar-nav a{
    line-height: 2.5;
}
.container{
    background: none;
} */

.nav-main{
    background-color: rgb(39, 21, 73);
    display: flex;
    height:100px;

    justify-content: space-between !important;
}
.logo{
    width: 20%;
    color: #fff !important;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xxx-large;
}
.nav-link-bar{
   
    flex-basis: 0 !important;
    flex-grow: initial !important;
}
.nav-link-bar a {
    color: rgb(238, 231, 231);
    
}
.bg-success{
    background-color: #28a745ba !important;
}
.nav-link{
    color: white;
}
.basic-nav-dropdown{
    color: rgb(10, 10, 10);

}
.dropdown-menu.show {
    background-color: black;
    display: block;
}

